@import "smart-grid.scss";

.container {
  @include wrapper();
  height: 120vh;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding: 100px 0;

    .document {
      @include size(6);

      embed {
        width: 100%;
        height: 100%;
      }
    }
  }
}
